.main{
    margin-top:50px;
    width:100%;
    height:80vh;
   
   
}
.main img{
    width:90%;
    height:80vh;
    margin-left: 7%;
}


@media screen and (max-width:900px){
    .main{
        margin-top:20px;
       height:35vh;
       max-height:30vh;
       
       
    }
    .main img{
        width:90%;
        height:35vh;
        max-height: 30vh;
        margin-left: 4%;
        overflow-x: hidden;
    } 
}